<!DOCTYPE html>
<html lang="fr">
<head>
    <title>LEGAL - DMCA</title>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <br>
    <main class="main-content container">
        <p>Voirani.me est un site web streaming des Séries Anime. Nous fournissons aux titulaires de droits d'auteur légaux la possibilité de s'auto-publier sur Internet en téléchargeant, en stockant et en affichant divers supports utilisant nos services. Nous ne surveillons pas, ne filtrons ni ne passons en revue le média téléchargé sur nos serveurs par les utilisateurs du site web. Nous prenons très au sérieux la violation du droit d'auteur et protégerons vigoureusement les droits des détenteurs légaux de droits d'auteur. Si vous êtes le détenteur des droits d'auteur du contenu figurant sur le site Web Voirani.me et que vous n'autorisez pas l'utilisation du contenu, vous devez en informer Voirani.me par écrit afin que nous puissions identifier le contenu prétendument illicite et prendre des mesures.</p>
        <br>
        <p>Afin de faciliter le processus, nous vous avons fourni un formulaire sur notre page de contact. Nous ne pourrons prendre aucune mesure si vous ne nous fournissez pas les informations requises, veuillez donc remplir tous les champs de manière exacte et complète. Vous pouvez également envoyer un avis écrit à l'agent de gestion DMCA par courrier électronique, télécopieur ou courrier postal, comme indiqué ci-dessous. Votre notification écrite doit inclure les éléments suivants:</p>

        <ul>
            <li>Une signature physique ou électronique du titulaire du droit d'auteur ou de la personne autorisée à agir pour le compte du titulaire qui revendique expressément un droit exclusif prétendument enfreint.</li>
            <li>Identification spécifique de l'œuvre protégée par le droit d'auteur que vous alléguez avoir été violée. Si vous alléguez une violation de plusieurs œuvres protégées par le droit d'auteur avec une seule notification, vous devez soumettre une liste de représentants identifiant spécifiquement chacune des œuvres dont vous alléguez la violation.</li>
            <li>Identification spécifique de l'emplacement et description du matériel incriminé ou faisant l'objet de l'activité illicite, avec suffisamment d'informations détaillées pour permettre à Voirani.me de localiser le matériel. Vous devez inclure l'URL ou les URLs spécifiques des pages Web sur lesquelles se trouve le contenu présumé enfreint.</li>
            <li>Informations raisonnablement suffisantes pour permettre à Voirani.me de contacter la partie plaignante, ce qui peut inclure un nom, une adresse, un numéro de téléphone et une adresse électronique à laquelle la partie plaignante peut être contactée.</li>
            <li>Une déclaration selon laquelle la partie plaignante a la conviction de bonne foi que l’utilisation du matériel de la manière reprochée n’est pas autorisée par le titulaire du droit d’auteur, son mandataire ou la loi.</li>
            <li>Une déclaration indiquant que les informations figurant dans la notification sont exactes et sous peine de parjure que la partie plaignante est autorisée à agir au nom du titulaire d'un droit exclusif prétendument violé.</li>
        </ul>

        <p>Veuillez également noter qu’en vertu de la loi applicable : 17 USC 512, toute personne qui sciemment déforme de manière substantielle le contenu ou l’activité violé peut être passible de poursuites.</p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>